@page "/about"
@rendermode InteractiveServer

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Experience</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true" class="heading">My Experience</MudText>

<div class="cards" >
    <MudCard Class="mb-16 pb-16" Style="background-color:whitesmoke">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIcon Icon="@Icons.Material.Filled.School" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Graduated at WeThinkCode</MudText>
                <MudText Typo="Typo.body2">Gauteng</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Class="mb-16 pb-16" Style="background-color:whitesmoke">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIcon Icon="@Icons.Material.Filled.Work" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Web Developer Intern</MudText>
                <MudText Typo="Typo.body2">Remote</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Class="mb-16 pb-16" Style="background-color:whitesmoke">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIcon Icon="@Icons.Material.Filled.Work" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Java Developer Intern</MudText>
                <MudText Typo="Typo.body2">Remote</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
        </MudCardContent>
    </MudCard>
</div>

<style>
    .heading {
        text-align: center;
        font-family: 'Microsoft Sans Serif';
        margin-bottom: 50px;
    }
    .cards {
        
        width: 600px;
        height: 500px;
        margin-left: auto;
        margin-right: auto;
      
    }
</style>




