@page "/about"
@rendermode InteractiveServer

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Experience</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true" class="heading">My Experience</MudText>

<div class="cards" >
    <MudCard Class="mb-16 pb-16 exp-card" Style="background-color:whitesmoke">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIcon Icon="@Icons.Material.Filled.School" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Graduated at WeThinkCode</MudText>
                <MudText Typo="Typo.body2">Gauteng</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2" Style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                WeThinkCode_ Alumni. Attending WeThinkCode_ 
                had an immensely positive influence on my life. It equipped me with
                essential skills, knowledge, and opportunities that have significantly 
                shaped my career and personal development.</MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Class="mb-16 pb-16 exp-card" Style="background-color:whitesmoke">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIcon Icon="@Icons.Material.Filled.Work" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Web Developer Intern</MudText>
                <MudText Typo="Typo.body2">Remote</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2" Style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                This remote internship lasted for four weeks (one month), during which I embarked on a rewarding journey as 
                a Web Development Intern at VeriTech. I gained hands-on experience with real-world projects, refined my web
                development skills, and acquired practical industry insights.
            </MudText>
        </MudCardContent>
    </MudCard>
    <MudCard Style="background-color:whitesmoke" Class="exp-card">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudIcon Icon="@Icons.Material.Filled.Work" />
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">Java Developer Intern</MudText>
                <MudText Typo="Typo.body2">Remote</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardContent>
            <MudText Typo="Typo.body2" Style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                This internship, provided by Oasis Infobyte, was a learning opportunity for me that spanned one month. 
                During this time, I enhanced my Java skills and developed projects using Java. The internship included
                an orientation and emphasized learning new skills, with a deeper understanding of concepts through 
                hands-on application of the knowledge I gained as an intern.
            </MudText>
        </MudCardContent>
    </MudCard>
    <MudText></MudText>
</div>


<style>
    .heading {
        text-align: center;
        font-family: 'Microsoft Sans Serif';
        margin-bottom: 50px;
    }
    .cards {
        
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    .exp-card {
        transition: all 0.3s ease;
        background-color: whitesmoke;
    }

        .exp-card:hover {
            transform: scale(1.05);
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
            background-color: #e8e8e8;
        }

    }
</style>




