@page "/contact"
@rendermode InteractiveServer

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Contact</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true" class="heading">Contact Me</MudText>

<MudText Typo="Typo.body1" Style="text-align:center">
    Please contact me directly at <em><a href="andrewseanego14@gmail.com">andrewseanego14@gmail.com</a></em> or through this form.
</MudText>


<MudCard class="form">
    <MudCardContent >
        <MudForm>
            <MudTextField Label="First Name" Required="true" RequiredError="firstName is required!" @bind-Value="firstName" />
            <MudTextField Label="Last Name" Required="true" RequiredError="lastName is required!" @bind-Value="lastName" />
            <MudTextField Label="Email" Required="true" RequiredError="eamil is required!" @bind-Value="email" />
            <MudTextField MaxLength="500" Label="Reason for Contact" Required="true" RequiredError="You need to specify the reason for contact!" @bind-Value="contactReason" />

            <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="SubmitForm" Class="mt-7">Submit</MudButton>
        </MudForm>
    </MudCardContent>
</MudCard>

<style>
    .heading {
        text-align: center;
        font-family: 'Microsoft Sans Serif';
        margin-bottom: 50px;
    }
    .form {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

@code {
    private string firstName;
    private string lastName;
    private string email;
    private string contactReason;

    private async Task SubmitForm()
    {
       // Mail.sendMail(firstName, lastName, email, contactReason);
        //onsole.WriteLine($"Submitted: {firstName} {lastName}, Email: {email}, Reason: {contactReason}");
    }
}