@page "/projects"

<PageTitle>Projects</PageTitle>

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="min-height: 100vh;">
    <MudText Typo="Typo.h4" GutterBottom="true" class="heading">My Projects</MudText>

    <div class="cards" >

        <MudCard Class="mb-16 pb-16" Style="background-color:whitesmoke">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Waste Sorting API</MudText>
                    <div class="row">
                        <MudPaper Class="pa-2 ma-1" Outlined="false" Style="background-color:whitesmoke">Java</MudPaper>
                    </div>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardMedia Image="images/pilars.jpg" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.h6" Style="font-family:Calibri">
                    I worked as a backend developer to build a restful api that is
                    user-friendly and that empowers users to make environmentally conscious decisions about
                    waste disposal.
                </MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Style="background-color:whitesmoke">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Weather application</MudText>
                    <div class="row">
                        <MudPaper Class="pa-2 ma-1" Outlined="false" Style="background-color:whitesmoke">Python</MudPaper>
                    </div>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardMedia Image="images/pilars.jpg" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.h6" Style="font-family:Calibri">
                    I created a weather app which uses the OpenWeatherMap API to retrieve weather data and use
                    the requests library in Python to fetch the weather API.
                </MudText>
            </MudCardContent>
        </MudCard>
    </div>
</div>

<style>
    .heading {
        text-align: center;
        font-family: 'Microsoft Sans Serif';
        margin-bottom: 50px;
    }
    .cards {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
    }

    .row {
        display: flex;
        flex-direction: row;
        
        align-items: center;
        gap: 10px;
    }
</style>
